/*
Author: Dr. Amir Aghabiglou
*/
code {
            background-color: #f5f5f5;
            padding: 2px 4px;
            border-radius: 0.4vw;
            font-size: 1vw;
        }

.left-column_tutorial, .right-column_tutorial {
    height: auto; /* Adjust height automatically */
    padding-bottom: 2%;
}


.left-column_tutorial, .right-column_tutorial {
    /*flex: 0 0 20%; !* 15% width *!*/
    flex:1;
    background-color: #f5f5f5;
}

.middle-column_tutorial {
    flex: 10; /* Take up remaining space */
    /*margin-top: 4%;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin-right: 4%;*/
    padding: 3vw 3% 3vw 3%;
    justify-content: center;
    text-align: justify;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.middle-column_tutorial h2 {
    background: linear-gradient(90deg, saddlebrown, sandybrown); /* Orange to light orange gradient */
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    font-size: 4vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.middle-column_tutorial h2 .styled-link {
    color: inherit;
    text-decoration: none;
    background: inherit;
    -webkit-background-clip: text;
}
.middle-column_tutorial h3 {
    background: linear-gradient(90deg, saddlebrown, sandybrown); /* Orange to light orange gradient */
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    font-size: 1.6vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

pre {
    background-color: #ecebeb;
    padding: 1.2vw 1vw;
    border-radius: 0.3vw;
    overflow-x: auto;
    /*border-color: black;*/
    border: 1px solid #cfcfcf;
    /*box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);*/
        }

.code-container {
    position: relative;
    flex: 4;
    width: 65vw;
    overflow-x: auto;
}


.copy-btn {
  position: absolute;
  top: 1.3vw;
  right: 0.5vw;
  cursor: pointer;
  background-color: #f5f5f5;
  padding: 0.3vw 0.3vw;
  border-radius: 0.2vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.copy_logo {
    vertical-align: middle; /* Align the image vertically */
    align-items: center;
    width: 1.4vw;
    height: auto;

}

.copy-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.copy-btn::after {
    content: "Copy";
    position: absolute;
    top: 2.3vw; /* Adjust the position as needed */
    right: 0;
    background-color: #afacac;
    color: #fff;
    padding: 0.2vw 0.5vw;
    border-radius: 0.2vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 0.7vw; /* Adjust the font size as needed */
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none; /* Prevent the tooltip from interfering with the hover */
}

.copy-btn:hover::after {
    opacity: 1;
}

.comment { color: #0fccbe; }
.number { color: forestgreen; }
.variable { color: black; }
.string { color: #c80606; }
.command { color: purple; }
.input {color: cornflowerblue}
.keyword { color: #401340; }
.import { color: saddlebrown; }
.function{color: #7c08ec;}

