body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Add a background color to the body */
}

/* Navigation Bar Styles */
header {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Ensure the navigation bar stays on top */
    z-index: 2; /* Set a higher z-index to bring the navigation bar forward */
}

.content-section {
    display: flex;
}

.left-content,
.right-content {
    flex: 1;
}

.left-content {
    padding: 20px;
    text-align: justify; /* Add this line to justify the text */
    color: dimgray;
    justify-content: left;
    z-index: 1; /* Set a lower z-index to send it to the background */
    position: relative;
}
.left-content h2 {
    background: linear-gradient(90deg, saddlebrown, sandybrown); /* Orange to light orange gradient */
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
}

.right-content img {
    width: 130%;
    opacity: 0.8;
    border: none;
    z-index: 0;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); /* Adjust the spread and color as needed */
}

/*.content {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100vh; !* Adjust height as needed *!*/
/*    background-image: url('images/back1.png'); !* Replace with your actual image path *!*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    text-align: center;*/
/*    color: dimgray;*/
/*    font-size: 24px;*/
/*    opacity: 0.8; !* Adjust the opacity as needed *!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.content p {
    margin: 0;
}


.left-side {
    display: flex;
    align-items: center;
}

.left-side img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

nav {
    display: flex;
    margin-left: 20px; /* Add margin to separate logo and navigation links */
}

nav a {
    /*font-family: 'Times New Roman', serif; !* Change font to Times New Roman *!*/
    font-weight: bold; /* Make text bold */
    color: gray; /* Text color */
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: lightgray;
    color: white; /* Change text color on hover */
}

.right-side {
    display: flex;
    align-items: center;
}

.search-icon {
    margin-right: 40px; /* Add margin between search and GitHub icons */
    cursor: pointer; /* Add cursor pointer for better UX */
}

.github-icon {
    margin-right: 10px; /* Add margin between GitHub icon and search icon */
    cursor: pointer;
    position: relative; /* Position relative for positioning the tooltip */
}

.tooltip {
    display: none;
    position: absolute;
    bottom: -30px; /* Adjusted position to move the tooltip down */
    left: 50%;
    transform: translateX(-50%);
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap; /* Prevent text from wrapping */
}

.tooltip::before {
    content: '';
    position: absolute;
    bottom: 100%; /* Position the pointer above the tooltip */
    left: 50%;
    margin-left: -5px; /* Adjust as needed */
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent gray transparent; /* Change the order of colors to adjust the pointer direction */
}


.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, background-color 0.3s;
}

.search-bar input:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar button {
    padding: 10px 20px;
    border: none;
    background-color: #555;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #333;
}

.contact-icon {
    margin-right: 10px; /* Add margin between contact and search icons */
    cursor: pointer;
    position: relative; /* Position relative for positioning the tooltip */
}

.contact-icon {
    margin-right: 10px; /* Add margin between contact and search icons */
    cursor: pointer;
    position: relative; /* Position relative for positioning the tooltip */
}

.contact-icon img {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}
