body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white; /* Add a background color to the body */
}

.content-section {
    display: flex;
    background-color: white; /* White background */
    /*flex-wrap: wrap;*/
}

.left-column, .middle-column, .right-column {
    height: auto; /* Adjust height automatically */
    padding-bottom: 2%;
}



.left-column, .right-column {
    /*flex: 0 0 20%; !* 15% width *!*/
    flex:1;
}

.middle-column {
    flex: 2; /* Take up remaining space */
    /*flex: 0 0 60%; !* 70% width *!*/
    max-width: 800px; /* Limit maximum width */
    /*padding: 0 20px; !* Add padding to the sides *!*/
    margin-top: 2%;
    margin-right: 2%;
    justify-content: left;
    text-align: justify;
}

.image-container {
   display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    gap: 1%;
    /*flex:2;*/
    margin-top: 1%;
}

.image-container img {
    max-width: 24%;
    height: auto;
    margin: 0; /* Remove any margins */
    padding: 0; /* Remove any padding */
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.middle-column_left {
    /*flex: 0 0 40%; !* 70% width *!*/
    flex:3;
    /*padding: 20px;*/
    margin-top: 2%;
    margin-right: 4%;
    justify-content: left;
    text-align: justify;
}

.middle-column_right {
    /*flex: 0 0 20%; !* 70% width *!*/
    /*flex:1;*/
    width: 230px;
    margin-top: 2%;
    margin-right: 2%;
    justify-content: left;
    text-align: justify;
}

.middle-column_right img {
    width: 100%;
    margin-top: 30%;
    opacity: 0.2;
    border: none;
    z-index: 0;
    /*box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5); !* Adjust the spread and color as needed *!*/
}


.middle-column h2 {
    background: linear-gradient(90deg, saddlebrown, sandybrown); /* Orange to light orange gradient */
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.middle-column h3 {
    background: linear-gradient(90deg, saddlebrown, sandybrown); /* Orange to light orange gradient */
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.middle-column_left h2 {
    background: linear-gradient(90deg, saddlebrown, sandybrown); /* Orange to light orange gradient */
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.middle-column_left h3 {
    background: linear-gradient(90deg, saddlebrown, sandybrown); /* Orange to light orange gradient */
    -webkit-background-clip: text;
    color: transparent;
    display: inline;
    font-size: 18px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

p {
    font-size: 1em;
    line-height: 1.6;
    color: #555; /* Slightly darker text color */
    margin-bottom: 15px; /* Space between paragraphs */
}

a {
    color: #007bff; /* Link color */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline; /* Underline effect on hover */
}

/*xxxxxxxxxxxxxxxxxxxxxxx Subsection styles xxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
.link-box {
    text-align: center; /* Align text to center */
    background: linear-gradient(90deg, saddlebrown, sandybrown); /* Apply color gradient */
    color: white; /* Change text color to white */
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    font-family: 'Segoe UI';
    border-radius: 20px; /* Add border radius for rounded corners */
    text-decoration: none; /* Remove underline */
    position: relative; /* Set position relative for the white line */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Button shadow */
    transition: transform 0.2s, box-shadow 0.2s;
}

.link-box_main {
    text-align: center; /* Align text to center */
    background: linear-gradient(90deg, saddlebrown, sandybrown); /* Apply color gradient */
    color: white; /* Change text color to white */
    display: inline-flex;
    justify-content: center; /* Align horizontally */
    align-items: center; /* Align vertically */
    width: 125px;
    height: 70px;
    padding: 15px 25px;
    font-size: 25px;
    font-family: 'Segoe UI';
    border-radius: 30px;
    text-decoration: none;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.link-box_main a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.link-box_main:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    text-decoration-color: white;
}

.link-box a {
color: white;text-align: center;
}


.link-box:hover {
    transform: scale(1.05); /* Increase button size on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
}

.white-line {
    display: block;
    width: 100%;
    height: 1px; /* Set height for the white line */
    background-color: white; /* Set color for the white line */
    margin-bottom: -15px; /* Add margin bottom for spacing */
    margin-top: 6px;
}

.white-line_main {
    display: block;
    margin: auto;
    width: 100%;
    height: 1px; /* Set height for the white line */
    background-color: white; /* Set color for the white line */
    margin-bottom:-5px; /* Add margin bottom for spacing */
}



.sub_algo-container {
   display: flex;
    /*flex-wrap: wrap;*/
    gap: 20px;
}

.sub_algo-box {
    display: inline-block;
    background-color: #f0f0f0;
    height: 40px;
    border: 1px solid #ccc;
    align-items: center; /* Center vertically */
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px; /* Adjust margin as needed for spacing between boxes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s, box-shadow 0.2s;
}

.sub_algo-box:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}



.box-3d {
  position: relative;
  width: 180px;
  height: 180px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 40px;
  perspective: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Button shadow */
  transition: transform 0.2s, box-shadow 0.2s;
}


.box-3d:hover {
    transform: scale(1.05); /* Increase button size on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
}

.circle {
  position: absolute;
  width: 76px;
  height: 76px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle1 {
  top: 15px;
  left: 10px;
}

#circle2 {
  top: 15px;
  right: 10px;
}

#circle3 {
  bottom: 16px;
  left: 50px;
}

.text {
  font-size: 16px;
  color: #555555;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Add a decorative font */
}


.fancy-heading {
    font-family: 'Segoe UI'; /* Add a decorative font */
    font-size: 40px; /* Adjust font size */
    color: #555555; /* Set font color */
    text-align: left; /* Align text to left */
    position: relative; /* Set position relative for the pseudo-element */
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);;
}

.fancy-heading::after {
    content: ''; /* Add content */
    display: block; /* Display as block element */
    width: 100%; /* Set width of the line */
    height: 5px; /* Set height of the line */
    background-color: darkgray; /* Set color of the line */
    position: absolute; /* Position absolutely */
    bottom: -10px; /* Position the line below the text */
    left: 0; /* Position the line at the left edge */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.fancy-heading img {
    float: right;
}

.horizontal-line {
    width: 100%; /* Set width to span the entire container */
    height: 1px; /* Set height for the line */
    background-color: #ccc; /* Set color for the line */
    margin: 20px 0; /* Add margin for spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.github-logo {
    vertical-align: middle; /* Align the image vertically */
    align-items: center;
    /*margin-top: 5px; !* Add margin to the left of the image *!*/
}


.paper-title {color: black}


