.buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.button {
    width: 200px;
    height: 100px;
    background-color: whitesmoke; /* Button background color */
    color: dimgray; /* Button text color */
    text-align: center;
    /*line-height: 10px; !* Center text vertically *!*/
    font-size: 20px;
    font-weight: bold;
    border: 2px solid dimgray; /* Button border color */
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Button shadow */
    transition: transform 0.2s, box-shadow 0.2s;

}

.button:hover {
    transform: scale(1.05); /* Increase button size on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
}

.github-logo {
    margin-top: 15px; /* Adjust the value as needed */
}

.fancy-box {
    position: relative;
    margin-top: 30px; /* Adjust the value as needed to create the desired space */
    border: 2px solid transparent;
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-clip: padding-box;
    border-image: linear-gradient(90deg, saddlebrown, sandybrown);
    border-image-slice: 1;
}

.fancy-box a {
    color: cornflowerblue;
}

.github-logo-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.github-logo-button:hover + .tooltip {
    display: block;
}

.tooltip_git {
    display: none;
    position: absolute;
    bottom: -30px; /* Adjusted position to move the tooltip down */
    left: 50%;
    transform: translateX(-50%);
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap; /* Prevent text from wrapping */
}

.tooltip_git::before {
    content: '';
    position: absolute;
    bottom: 100%; /* Position the pointer above the tooltip */
    left: 50%;
    margin-left: -5px; /* Adjust as needed */
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent gray transparent; /* Change the order of colors to adjust the pointer direction */
}

.link-box {
    border: 2px solid gray; /* Border color */
    background-color: whitesmoke; /* Gray background color */
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}
